In [3]:
# Load CSV 
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
df = pd.read_csv("country_deatils_Movie.csv", sep="|")

In [9]:
print(df.shape)
print(df.head())

(47, 1)
  id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0  43597,Avatar,237000000,150,2009-12-10,27879650...
1  43598,"Pirates of the Caribbean: At World"s En...
2  43599,Spectre,245000000,107,2015-10-26,8806746...
3  43600,"The Dark Knight Rises",250000000,112,20...
4  43601,"John Carter",260000000,43,2012-03-07,28...

In [10]:
# Try robust CSV loading by sniffing delimiter/quoting issues and falling back to python engine
import pandas as pd


try:
    df = pd.read_csv(file_path)
except Exception as exc:
    print(type(exc))
    print(exc)
    df = pd.read_csv("country_deatils_Movie.csv", engine='python', sep=',', on_bad_lines='skip')

print(df.shape)
print(df.head())
print(df.columns)

<class 'NameError'>
name 'file_path' is not defined
(24, 13)
      id           original_title     budget  popularity release_date  \
0  43597                   Avatar  237000000         150   2009-12-10
1  43599                  Spectre  245000000         107   2015-10-26
2  43602             Spider-Man 3  258000000         115   2007-05-01
3  43604  Avengers: Age of Ultron  280000000         134   2015-04-22
4  43607         Superman Returns  270000000          57   2006-06-28

      revenue                    title  vote_average  vote_count  \
0  2787965087                   Avatar           7.2       11800
1   880674609                  Spectre           6.3        4466
2   890871626             Spider-Man 3           5.9        3576
3  1405403694  Avengers: Age of Ultron           7.3        6767
4   391081192         Superman Returns           5.4        1400

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  A cryptic message from Bonds past sends him on...
2  The seemingly invincible Spider-Man goes up ag...
3  When Tony Stark tries to jumpstart a dormant p...
4  Superman returns to discover his 5-year absenc...

                       tagline     uid  director_id
0  Enter the World of Pandora.   19995         4762
1        A Plan No One Escapes  206647         4764
2           The battle within.     559         4767
3          A New Age Has Come.   99861         4769
4                          NaN    1452         4772
Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

In [12]:
print(df.head(10))
print(df.isna().sum().sort_values(ascending=False).head(10))
print(df.duplicated().sum())

num_cols = ['budget','popularity','revenue','vote_average','vote_count','uid','director_id','id']
for col_name in num_cols:
    df[col_name] = pd.to_numeric(df[col_name], errors='coerce')

df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

print(df[num_cols].isna().sum().sort_values(ascending=False))
print(df['release_date'].isna().sum())
print(df.describe(numeric_only=True).T[['count','mean','min','max']].head(10))

      id                            original_title     budget  popularity  \
0  43597                                    Avatar  237000000         150
1  43599                                   Spectre  245000000         107
2  43602                              Spider-Man 3  258000000         115
3  43604                   Avengers: Age of Ultron  280000000         134
4  43607                          Superman Returns  270000000          57
5  43608                         Quantum of Solace  200000000         107
6  43610                           The Lone Ranger  255000000          49
7  43611                              Man of Steel  225000000          99
8  43612  The Chronicles of Narnia: Prince Caspian  225000000          53
9  43613                              The Avengers  220000000         144

  release_date     revenue                                     title  \
0   2009-12-10  2787965087                                    Avatar
1   2015-10-26   880674609                                   Spectre
2   2007-05-01   890871626                              Spider-Man 3
3   2015-04-22  1405403694                   Avengers: Age of Ultron
4   2006-06-28   391081192                          Superman Returns
5   2008-10-30   586090727                         Quantum of Solace
6   2013-07-03    89289910                           The Lone Ranger
7   2013-06-12   662845518                              Man of Steel
8   2008-05-15   419651413  The Chronicles of Narnia: Prince Caspian
9   2012-04-25  1519557910                              The Avengers

   vote_average  vote_count  \
0           7.2       11800
1           6.3        4466
2           5.9        3576
3           7.3        6767
4           5.4        1400
5           6.1        2965
6           5.9        2311
7           6.5        6359
8           6.3        1630
9           7.4       11776

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  A cryptic message from Bonds past sends him on...
2  The seemingly invincible Spider-Man goes up ag...
3  When Tony Stark tries to jumpstart a dormant p...
4  Superman returns to discover his 5-year absenc...
5  Quantum of Solace continues the adventures of ...
6  The Texas Rangers chase down a gang of outlaws...
7  A young boy learns that he has extraordinary p...
8  One year after their incredible adventures in ...
9  When an unexpected enemy emerges and threatens...

                                         tagline     uid  director_id
0                    Enter the World of Pandora.   19995         4762
1                          A Plan No One Escapes  206647         4764
2                             The battle within.     559         4767
3                            A New Age Has Come.   99861         4769
4                                            NaN    1452         4772
5  For love, for hate, for justice, for revenge.   10764         4773
6                        Never Take Off the Mask   57201         4763
7           You will believe that a man can fly.   49521         4771
8                           Hope has a new face.    2454         4774
9                        Some assembly required.   24428         4769
tagline           1
original_title    0
budget            0
popularity        0
id                0
release_date      0
revenue           0
vote_average      0
title             0
vote_count        0
dtype: int64
0
budget          0
popularity      0
revenue         0
vote_average    0
vote_count      0
uid             0
director_id     0
id              0
dtype: int64
0

TypeError: NDFrame.describe() got an unexpected keyword argument 'numeric_only'

In [16]:
# Compute numeric summary without using numeric_only (compatibility with older pandas)
import numpy as np

numeric_df = df.select_dtypes(include=[np.number])
print(numeric_df.describe().T[['count','mean','min','max']])

              count          mean          min           max
id             24.0  4.362142e+04      43597.0  4.364700e+04
budget         24.0  2.146667e+08  150000000.0  2.800000e+08
popularity     24.0  1.040417e+02         21.0  4.180000e+02
revenue        24.0  9.116410e+08   89289910.0  2.787965e+09
vote_average   24.0  6.562500e+00          5.1  7.600000e+00
vote_count     24.0  4.819917e+03       1400.0  1.180000e+04
uid            24.0  5.909133e+04        254.0  2.711100e+05
director_id    24.0  4.777667e+03       4762.0  4.797000e+03